<?xml version="1.0" encoding="UTF-8"?>

<!-- web.xml -->
<!-- Date  : 18 October 2016
   - Author: Ankit Pati
   -->

<web-app>
    <jsp-config>
        <taglib>
            <taglib-uri>power</taglib-uri>
            <taglib-location>tlds/power.tld</taglib-location>
        </taglib>
    </jsp-config>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
<!-- end of web.xml -->
