<?xml version="1.0" encoding="UTF-8"?>

<!-- web.xml -->
<!-- Date  : 18 October 2016
   - Author: Ankit Pati
   -->

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	 xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	 version="3.1">
    <jsp-config>
        <taglib>
            <taglib-uri>power</taglib-uri>
            <taglib-location>tlds/power.tld</taglib-location>
        </taglib>
    </jsp-config>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
<!-- end of web.xml -->
